extends _layout/layout.pug
block main 
	section.home-slider.d-flex
		.container
			.row
				.col.text-center
					h1 Hi there! We are the new kids on the block and we build awesome websites and mobile apps.
					p
						a(href="#").btn.btn-more.mt-5 work with us!
	section.home-service.d-flex
		.container
			.row
				.col.text-center
					.title
						h2.mb-3 service we provice
						p We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
			.row.mt-5
				.col-sm-12.col-md-6.col-lg-3.text-center
					img(src="./img/home_icon_1.png", alt="")
					h3 Branding
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
				.col-sm-12.col-md-6.col-lg-3.text-center
					img(src="./img/home_icon_2.png", alt="")
					h3 Design
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
				.col-sm-12.col-md-6.col-lg-3.text-center
					img(src="./img/home_icon_3.png", alt="")
					h3 Development
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
				.col-sm-12.col-md-6.col-lg-3.text-center
					img(src="./img/home_icon_4.png", alt="")
					h3 Rocket Science
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
